<!DOCTYPE html>
<html lang="en" ng-app="teamform-admin-app">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="teamform, team">
  <!-- The meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>teamform - Admin page</title>

  <!-- libraries and CSS 	  
		JQuery: Necessary for some bootstrap interactions (v1.12.4 is used)		
		Bootstrap: Library and CSS for bootstrap framework (v3.3.7 is used)
		Font-awesome: More icons for the web development (v4.6.3 is used)		
		site.css: A customized css for our web application. Not from any web framework. 
	  -->

  <script src="lib/jquery.min.js"></script>
  <script src="lib/bootstrap.min.js"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
  <!--<link rel="stylesheet" href="css/site.css" >-->
  <link rel="stylesheet" href="css/custom.css">

  <!-- Customized libraries shared by pages -->
  <script src="js/site.js"></script>

</head>

<!-- format the website below -->
<style>
        
.table {
          width: 50%;
        margin-left:auto; 
          margin-right:auto;
          max-width: 60%;
      }

  td.edit {
    padding: 10px;
    font-size: 15px;
  }
  
  th.editor {
    padding: 5px;
    font-size: 18px;
    /*font-weight: bold;*/
  }
  
  th.ann {
    padding: 1px;
    font-size: 12px;
    /*font-weight: bold;*/
  }
  
  h1 {
    /*font-weight: bold;
	font-size: 40px;*/
  }
  /*.panel {
    box-shadow: 0 1px 20px 20px rgba(0,0,0,.05);
	padding: 5px 5px 5px 5px;
	margin: 0px;
   }*/
  /*.table {
    width: 60%;
	margin-left:auto; 
    margin-right:auto;
    max-width: 60%;
	}*/
</style>
<!-- end of formatting this page -->

<body ng-controller="AdminCtrl">
  <div ng-include="'navbar.html'" id='navbarMenu'></div>
  <br>
  <div>
    <section style="background-image: url('img/img1_thin.jpg');" class="banner img-responsive">
      <br><br><br><br><br>
      <h1 class="pull-left banner_title">{{param.eventName}}&nbsp;Administrative Page</h1>
    </section>
  </div>
  <div id="load_screen">
    <div id="loading" class="text-center"> <img src="img/loading.gif">loading ...</div>
  </div>
  <div class="container">
    <div id="admin_page" class="text-center">
      <div id="admin_event_div">
        <!--<div class="col-lg-8">-->
        <div ng-include="'description.html'"></div>
        <!--</div>-->
        <!--smart generator-->
        <div class="col-md-12" id="admin_action_buttons" ng-hide="editable">
          <button id="btn_invite_join" type="button" class="btn btn-primary" ng-click="inviteJoin_click()" ng-hide="(deadline-today)>0">
            Invite people to join
          </button>
          <button id="btn_smart_generator" type="button" class="btn btn-primary" ng-click="generate_click()" ng-hide="(deadline-today)>0">
            Generate Teams
          </button>
          <!--show generator if achieve deadline-->
          <button id="btn_event_edit" class="btn btn-primary" ng-click="edit_click()">
              <span class="glyphicon glyphicon-pencil" aria-label="edit"></span>&nbsp;Edit Event
          </button>
          <button id="btn_event_edit" class="btn btn-primary" ng-click="close_event_click()" ng-show="(deadline-today)>0">
              <span class="glyphicon glyphicon-folder-close" aria-label="close event"></span>&nbsp;Close Event
          </button>
          <button id="btn_event_edit" class="btn btn-default" ng-click="reopen_event_click()" ng-hide="(deadline-today)>0">
              <span class="glyphicon glyphicon-calendar" aria-label="reopen event"></span>&nbsp;Reopen Event
          </button>
        </div>
        <br>
      </div>

      <div id="admin_page_controller">
        <div class="col-md-12">
          <div class="col-md-3 col-xs-3"></div>
          <div class="col-md-6 col-xs-6 text-left panel" ng-show="editable">

            <form name="eventForm" class="css-form " novalidate>
              <table align="center">
                <th class="editor" colspan="2">This is the real-time editor. You can see the results above instantly.</th>
                <tr align="left">
                  <td class="edit"><strong>Event Name: </strong></td>
                  <td class="edit"><input class="form-control ng-dirty ng-invalid ng-valid" ng-model="param.eventName" required></td>
                </tr>

                <tr align="left">
                  <td class="edit"><strong>Description: </strong></td>
                  <td class="edit"><textarea class="form-control ng-dirty ng-invalid ng-valid" ng-model="param.description" type="textarea"></textarea></td>
                </tr>

                <tr align="left">
                  <td class="edit"><strong>Admin: </strong></td>
                  <td class="edit"><a href="profile.html?q={{param.admin}}">{{adminName}}</a></td>
                </tr>

                <tr align="left">
                  <td class="edit"><strong>Min. Team Size: </strong></td>
                  <td class="edit"><span class="badge">{{param.minTeamSize}}</span>
                    <button ng-click="changeMinTeamSize(-1);"><span class="glyphicon glyphicon-minus" ></span></button>
                    <button ng-click="changeMinTeamSize(1);"><span class="glyphicon glyphicon-plus" ></span></button>
                  </td>
                </tr>

                <tr align="left">
                  <td class="edit"><strong>Max. Team Size: </strong></td>
                  <td class="edit"><span class="badge">{{param.maxTeamSize}}</span>
                    <button ng-click="changeMaxTeamSize(-1);"><span class="glyphicon glyphicon-minus" ></span></button>
                    <button ng-click="changeMaxTeamSize(1);"><span class="glyphicon glyphicon-plus" ></span></button>
                  </td>
                </tr>

                <tr align="left">
                  <td class="edit"><strong>Event Deadline: </strong></td>
                  <td class="edit"><input class="form-control" type="date" ng-model="deadline" min="{{today | date:'yyyy-MM-dd'}}" />
                    <span ng-hide="(deadline-today)<0">(Days left: {{(deadline - today)/(1000*60*60*24) | number:0}})</span></td>
                </tr>

                <tr>
                  <th colspan="2">
                    <center><button type="button" class="btn btn-success" ng-click="saveFunc();">Save Changes</button></center>
                  </th>
                </tr>
              </table>
              <br>
            </form>
          </div>
          <div class="col-md-3 col-xs-3"></div>
        </div>
        <!--end of edit panel-->
        <br><br><br>

        <div class="col-md-12"><br><br></div>
        <!--announcement div-->
        <div class="col-md-12 announcement_div">
          <br><br>
          <h2 style="display:inline;vertical-align: middle;" class="text-center">Announcements</h2>
          <button id="btn_new_announcement" type="button" class="btn btn-primary" style="vertical-align: middle;" ng-click="new_announcement_click()"
            ng-disabled="writingAnnouncement">
              <span class="glyphicon glyphicon-plus" aria-label="new announcement"></span>
            </button>
          <!--new announcement-->
          
   <br>
            <!--after click new new announcement button, it will show input text box and send button-->
            <div class="col-md-12" id="input_announcement" ng-show="writingAnnouncement">
              <br>
              <div class="col-md-2"></div>
              <div class="col-md-7"><textarea class="form-control " ng-model="announcement_text"></textarea></div><br>
              <div class="col-md-1"><button id="btn_make_announcement" type="button" class="btn btn-success" ng-click="make_announcement(announcement_text)">Post</button></div>
              <br><br>
            </div>
          
          <br>
          <div class="text-center" ng-include="'editAnn.html'"></div>
        </div>

      <!--teams list-->
      <br><br>
      
      <div class="col-md-12">
        <center>
          <h2>Teams</h2>
        </center>
        <!--<div ng-include="'teamList.html'" id="teamList"></div>-->
            <!--<div class="col-md-3"></div>
            <div class="col-md-6">-->
          <table id="teamsList" class="table table-hover text-left" ng-hide="teams.length == 0" style="font-size:16px;width:50%">
            <thead>
              <tr>
                <th>Team Name</th>
                <th>Team Leader</th>
                <th>Team members</th>
                <th>Preference</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody ng-repeat="t in teams" ng-init="getUserNameInTeam(t)">
              <tr>
                <td ><a style="cursor: pointer" ng-click="enterTeam(t.$id)">{{t.teamName}}</a></td>
                <td><a href="profile.html?q={{t.teamLeader}}">{{t.teamLeaderName}}</a></td>
                <td>
                  <span ng-repeat="member in t.members">
                       <a href="profile.html?q={{member.memberID}}">{{member.memberName}}</a>{{$last ? '' : ', '}}
                  </span>
                  </td>
                  <td>{{t.preference}}</td>
                  <td><button class="btn btn-default" ng-click="dismissTeam(t, false)"><span class="glyphicon glyphicon-trash" aria-hidden="true" ></span></button></td>
                </tr>
              </tbody>
            </table>
            <!--</div>
            <div class="col-md-3"></div>-->
           
          <p ng-show="teams.length ==0">This event do not have any team. Ask students/ members to form team now!</p>
        </div>
        <!--end of teams list-->



       
        <div class="col-md-12 text-center">
          <center>
            <h2>Members Without Groups</h2>
          </center>
          <!--<div ng-include="'teamList.html'" id="teamList"></div>-->
          <div class="text-center" ng-hide="teamsList.length == 0">
            <!--<div class="col-md-3"></div>
            <div class="col-md-6">-->
            <table id="teamsList" class="table table-hover text-left" ng-hide="waitList.length == 0" style="font-size:16px;width:50%;">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Preference</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody ng-repeat="member in waitList" ng-init="getUserDatabyID(member)">
                <tr>
                  <td><a href="profile.html?q={{member.uid}}">{{member.name}}</a></td>
                  <!--<td>{{member.uid}}</td>-->
                  <td>
                    <span ng-repeat="p in member.preference">{{p}}{{$last ? '' : ', '}}
                  </span>
                  </td>
                  <td><button class="btn btn-default"><span class="glyphicon glyphicon-trash" aria-hidden="true" ng-click="kick(member.uid)"></span></button></td>
                </tr>
              </tbody>
            </table>
            <!--</div>
            <div class="col-md-3"></div>-->
          </div>
          <center>
            <p ng-show="waitList.length ==0">No one on the waitlist.</p>
          </center>
        </div>
        
      <!--</divs>-->
      <!--end of teams & member list-->
      <div class="col-md-12" id="inviteJoinDiv">
        <center>
          <h2>Invite List</h2>
        </center>
        <!--<div ng-include="'teamList.html'" id="teamList"></div>-->
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <table id="inviteUserList" class="table table-hover text-left">
            <thead>
              <tr>
                <th>Name</th>
                <th>Preference</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody ng-repeat="member in users" ng-init="getRole(member)" ng-if="member.role == null">
              <tr>
                <td><a href="profile.html?q={{member.$id}}">{{member.name}}</a></td>
                <td>
                  <span ng-repeat="p in member.language">{{p}}{{$last ? '' : ', '}}
                  </span>
                </td>
                <td><button class="btn btn-primary" ng-click="inviteToJoin(member)" ng-disabled="member.isJoin">
                  Invite to waitlist
                  </button></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-12"><button class="btn btn-primary" ng-click="inviteJoinDone()">Done</button></div>
      </div>

    <!--</div>-->
    <!--end of admin_page_controller-->
    <div class="col-md-12 pull-left">
      <!-- FOOTER -->
      <hr>
      <footer>
        <p class="pull-right" ><a style="cursor: pointer" ng-click="scrollToTop()">Back to top</a></p>
        <p style="text-align:left;">&copy; 2016 &nbsp;<i>418 I'm a Teapot </i></p>
        <p style="text-align:left;">Powered by <a href="http://getbootstrap.com/" target="_blank">Bootstrap</a></p>
      </footer>
    </div>
  </div>
  </div>
  <!--container /div-->

  <!-- JavaScript of this page -->

  <!-- Angular and Angular-route libraries (v1.5.7) -->
  <script src="lib/angular.min.js"></script>
  <script src="lib/angular-route.min.js"></script>

  <!-- Firebase (v3.0.3) and AngularFire (v2.0.0) (after angular library is loaded) -->
  <script src="lib/firebase.js"></script>
  <script src="lib/angularfire.min.js"></script>

  <script src="js/admin.js"></script>

</body>

</html>