<!DOCTYPE html>
<html lang="en" ng-app="teamform-event-app">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="teamform, team">
  <!-- The meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>teamform - admin page</title>

  <!-- libraries and CSS 	  
		JQuery: Necessary for some bootstrap interactions (v1.12.4 is used)		
		Bootstrap: Library and CSS for bootstrap framework (v3.3.7 is used)
		Font-awesome: More icons for the web development (v4.6.3 is used)		
		site.css: A customized css for our web application. Not from any web framework. 
	  -->

  <script src="lib/jquery.min.js"></script>
  <script src="lib/bootstrap.min.js"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
<!--  <link rel="stylesheet" href="css/site.css"> -->


  <!-- Customized libraries shared by pages -->
  <script src="js/site.js"></script>
  <link rel="stylesheet" href="css/custom.css" >

</head>



<body ng-controller="EventCtrl">
  <div ng-include="'navbar.html'" id='navbarMenu'></div>
  <div>
    <section style="background-image: url('img/img1_thin.jpg');" class="banner img-responsive">
      <br><br><br><br><br>
      <h1 class="pull-left banner_title">Event Page</h1>
    </section>
  </div>
  <br>

  <div class="text-center">
    <div id="event_description_div" class = "row">
      <div ng-include="'description.html'"></div>
    </div>

    <hr>

    <div id="event_page_controller">
      <div class=" col-md-12">
        <h2 style="display:inline;vertical-align: middle;" class="text-center">Announcements</h2>  &nbsp;&nbsp;
        <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#announcement_div">
            <span class="glyphicon glyphicon-collapse-up"></span>
        </button>
      </div>
      <br><br>
      <!--announcement div-->
      <div id="announcement_div">
        <div ng-include="'readAnn.html'"></div>
      </div>
      <!--end of announcement div-->
      <br>
      
      
      <span class ="row" ng-show="(deadline-today)>0">
      <!--join event: You will be on the waiting list of member. If cannot join a team before deadline, admin will assign you to a team according your preference.-->
        <button id="btn_join" type="button" class="btn btn-primary" ng-click="joinEvent()" ng-hide="isJoin">Join Event</button>
        <button id="btn_join" type="button" class="btn btn-default" ng-click="quitEvent()" ng-show="isJoin">Quit Event</button>
      
      <!-- create team button -->
    <!--  <button id="btn_createTeam" type="button" class="btn btn-primary" ng-click="createTeam('default')">Create teams</button>
    -->
        <button ng-show="(deadline-today)>0" id="create_team_page_btn_visibility" type="button" class="btn btn-primary" ng-click="showTeamForm()">Create teams</button>
      </span>
      <div id="create_team_page_visibility">
        <div class="row">
          <div class="col-md-3 col-xs-2"></div>
          <div class="custom_center_box row col-md-6">
            <form name="teamForm" class="css-form " novalidate>
              <div class="form-group">
                <div class="col-md-12"><strong>Admin: </strong><a href="profile.html?q={{param.admin}}">{{adminName}}</a><br></div>
                <label>Team Name*:</label>
                <div class="col-md-12"><input class="form-control ng-dirty ng-invalid ng-valid" type="text" name="userName" placeholder="Please enter team name:"
                    ng-model="nextTeamName" required>
                  <br>
                </div>

              </div>

              <div class="form-group">
                <br>
                <label>Team Description:</label>
                <div class="col-md-12"> <textarea class="form-control ng-dirty ng-invalid ng-valid" type="textarea" placeholder="Please enter team Description:"
                    ng-model="teamDescription" required></textarea>
                  <br>
                </div>
              </div>

              <div class="form-group">
                <br>
                <label>Preferred Team Size:</label>
                <span class="badge">{{preferredTeamSize}}</span>
                <button ng-click="changePreferredTeamSize(-1);"><span class="glyphicon glyphicon-minus" ></span></button>
                <button ng-click="changePreferredTeamSize(1);"><span class="glyphicon glyphicon-plus" ></span></button>
                <br>

              </div>

              <div class="form-group">
                <br>
                <label>Lauguage Preference:</label>
                <div class="row">
                  <span class="col-md-3">
                                      </span>
                  <span class="col-md-6"> <input class="form-control" type="text" ng-model='addpreference'></input>
                                      <ol>
                                          <li ng-repeat='pre in preference'>{{pre}}<a ng-click="removePre(pre)"> Remove</a></li>
                                      </ol>
                                      </span>
                  <span class="col-md-3"><button type="button" class="btn btn-primary" ng-click="addPre()">Add</button>
                                      </span>
                </div>
              </div>

              <button id="btn_createTeam" type="button" class="btn btn-default" ng-click="hideTeamForm()">Cancel</button>     
              <button id="btn_createTeam" type="button" class="btn btn-primary" ng-click="createTeam()">Create teams</button>
            </form>
          </div>
          <div class="col-md-2 col-xs-2"></div>
        </div>
      </div>

      <span class ="row" ng-hide="(deadline-today)>0">Passed the deadline, you cannot join/quit this event now.</span>

      <br>
      <hr>

      <div class="row">
        <center>
           <h4>Search by team name or preference :</h4>
            <input type="text" class="input-lg" ng-model="filterName">
           <button class="btn btn-primary" ng-click="filterByName()">Search</button>
        </center>
      </div>

      <!--teams list-->
      <div class="col-md-12">
        <!--skip below line since action buttons is too long-->
          <!--<div class="col-md-2"></div>-->
          <div class="col-md-12">
              <h3 ng-show="noFiltedTeam_visibility">All teams:</h3>
              <h3 ng-hide="noFiltedTeam_visibility">Search Result:</h3>
              <!--<div ng-include="'teamList.html'" id="teamList"></div>-->
              <table id="teamsList" class="table table-hover">
                <thead>
                  <tr>
                    <th>Team Name</th>
                    <th>Team Leader</th>
                    <th>Team members</th>
                    <th>Preference</th>
                    <th ng-show="(deadline-today)>0">Action</th>
                  </tr>
                </thead>
                <tbody ng-show="noFiltedTeam_visibility"  ng-repeat="t in teams" ng-init="getUserNameInTeam(t)">
                  <div> <!--ng-show="filter(t)">-->
                    <tr>
                      <td ng-click="enterTeam(t.$id)">{{t.teamName}}</td>
                      <td><a href="profile.html?q={{teamLeader}}">{{t.teamLeaderName}}</a></td>
                      <td>
                        <span ng-repeat="member in t.members">
                                  <a href="profile.html?q={{member.memberID}}">{{member.memberName}}</a>{{$last ? '' : ', '}}
                        </span>
                      </td>
                      <td>{{t.preference}}</td>
                      <!-- enter the team button moved to table
                      <td><button id="btnEnterTeam" type="button" class="btn btn-primary" ng-click="enterTeam(t.$id)">Detail of this team</button></td>
                      -->
                      <td ng-show="(deadline-today)>0"><button id="btnJoinTeam" type="button" class="btn btn-primary" ng-click="joinTeam(t.$id)">Join this team directly (this will be removed)</button></td>
                      <!--this will remove after we finish request to join team properly-->
                      <td ng-show="(deadline-today)>0"><button id="btnRequestJoinTeam" type="button" class="btn btn-primary" ng-click="requestJoinTeam(t.$id)">Request to join</button></td>
                      </tr>
                  </div>
                </tbody>

                <!-- this table is used to show filtered result since ng-hide cannot use in the previous table -->
                <tbody ng-show="!FiltedTeam_visibility" ng-repeat="t in filtedUsers" >
                  <div> <!--ng-show="filter(t)">-->
                    <tr>
                      <td ng-click="enterTeam(t.$id)">{{t.teamName}}</td>
                      <td><a href="profile.html?q={{teamLeader}}">{{t.teamLeaderName}}</a></td>
                      <td>
                        <span ng-repeat="member in t.members">
                                  <a href="profile.html?q={{member.memberID}}">{{member.memberName}}</a>{{$last ? '' : ', '}}
                        </span>
                      </td>
                      <td>{{t.preference}}</td>
                      <!-- enter the team button moved to table
                      <td><button id="btnEnterTeam" type="button" class="btn btn-primary" ng-click="enterTeam(t.$id)">Detail of this team</button></td>
                      -->
                      <td ng-show="(deadline-today)>0"><button id="btnJoinTeam" type="button" class="btn btn-primary" ng-click="joinTeam(t.$id)">Join this team directly (this will be removed)</button></td>
                      <!--this will remove after we finish request to join team properly-->
                      <td ng-show="(deadline-today)>0"><button id="btnRequestJoinTeam" type="button" class="btn btn-primary" ng-click="requestJoinTeam(t.$id)">Request to join this team</button></td>
                      </tr>
                  </div>
                </tbody>

              </table>
          </div>
          <!--<div class="col-md-2"></div>-->
      </div>
      <!--end of teams list-->
      
      <div ng-show="(deadline-today)>0">
        <h2>Invite List</h2>
        <div ng-hide="inviteTeams.length ==0">You have not been invited yet. You can request teams below.</div>
        <div ng-show="inviteTeams.length ==0">
          <table id="inviteList" class="table table-hover">
            <thead>
              <tr>
                <th>Team Name</th>
                <th>Team Leader</th>
                <th>Team members</th>
                <th>Preference</th>
                <th ng-show="(deadline-today)>0">Action</th>
              </tr>
            </thead>
            <!--<tbody ng-repeat="iT in inviteTeams">-->
            <tbody ng-repeat="(teamid, iT) in inviteTeams">
              <tr>
                <td>{{iT.teamName}}</td>
                <td><a href="profile.html?q={{iT.teamLeader}}">{{iT.teamLeaderName}}</a></td>
                <td>
                  <span ng-repeat="member in iT.members">
                      <a href="profile.html?q={{member.memberID}}">{{member.memberName}}</a>{{$last ? '' : ', '}}
                    </span>
                </td>
                <td>{{iT.preference}}</td>
                <td ng-show="(deadline-today)>0">
                  <button id="btn_acceptInvite" ng-click="acceptInvite(teamid)">Accept</button>
                  <button id="btn_rejectInvite" ng-click="rejectInvite(teamid)">Reject</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <hr>
      <div class="col-md-12">
        <center>
          <h3>Waitlist</h3>
        </center>
        <!--<div ng-include="'teamList.html'" id="teamList"></div>-->
        <div class="col-md-1"></div>
        <div class="col-md-10" ng-hide="teamsList.length == 0">
          <table id="teamsList" class="table table-hover text-left" ng-hide="waitList.length == 0">
            <thead>
              <tr>
                <th>Name</th>
                <th>uid</th>
                <th>Preference</th>
              </tr>
            </thead>

            <tbody ng-repeat="member in waitList" ng-init="getUserDatabyID(member)">
              <tr>
                <td><a href="profile.html?q={{member.uid}}">{{member.name}}</a></td>
                <td>{{member.uid}}</td>
                <td>
                  <span ng-repeat="p in member.preference">{{p}}{{$last ? '' : ', '}}
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-1"></div>
        <center>
          <label ng-show="waitList.length ==0">No one on the waitlist.</label>
        </center>
      </div>
    </div>
      <!--end of teams & member list-->
    </div>
  </div>



  <!-- JavaScript of this page -->

  <!-- Angular and Angular-route libraries (v1.5.7) -->
  <script src="lib/angular.min.js"></script>
  <script src="lib/angular-route.min.js"></script>

  <!-- Firebase (v3.0.3) and AngularFire (v2.0.0) (after angular library is loaded) -->
  <script src="lib/firebase.js"></script>
  <script src="lib/angularfire.min.js"></script>

  <script src="js/event.js"></script>

</body>

</html>