<!DOCTYPE html>
<html lang="en" ng-app="teamform-event-app">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="keywords" content="teamform, team">
      <!-- The meta tags *must* come first in the head; any other head content must come *after* these tags -->
      <title>teamform - team page</title>
	  
      <!-- libraries and CSS 	  
		JQuery: Necessary for some bootstrap interactions (v1.12.4 is used)		
		Bootstrap: Library and CSS for bootstrap framework (v3.3.7 is used)
		Font-awesome: More icons for the web development (v4.6.3 is used)		
		site.css: A customized css for our web application. Not from any web framework. 
	  -->
	        
      <script src="lib/jquery.min.js"></script>      
      <script src="lib/bootstrap.min.js"></script>      
      	  
	   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">   
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">     
     <!--<link rel="stylesheet" href="css/site.css" >-->
     <link rel="stylesheet" href="css/custom.css" >

      <!-- Customized libraries shared by pages -->
      <script src="js/site.js"></script>
	  	  
   </head>
   
   <!--<style>
	h1 {
	font-weight: bold;
	font-size: 40px;
   }
   </style>-->
   
   <body  ng-controller="EventCtrl">
   <div ng-include="'navbar.html'" id='navbarMenu'></div>
   <br>
    <div>
     <section  style="background-image: url('img/img1_thin.jpg');" class="banner img-responsive" >
          <br><br><br><br><br>
          <h1 class="pull-left banner_title">Team Page</h1>
      </section>
    </div>
   <div class="text-center">
            
      <div id="event_description_div">
	    <div ng-include="'description.html'"></div>
      </div>

	  <hr>
	  
      <div id="event_page_controller">
      <!--<div class=" col-md-12"><u><font size="6px" align="middle"><b>Announcements</b></font></u>&nbsp;&nbsp;
		<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#announcement_div">
            <span class="glyphicon glyphicon-collapse-up"></span>
        </button></div>
		<br><br>-->
        <!--announcement div
        <div id="announcement_div">
		      <div ng-include="'readAnn.html'"></div>
		    </div>     
        end of announcement div-->
        <br><hr>
		<br>
      <div class= "row">
          <div class="col-md-3">
            </div>
          <div class="text-left custom_center_box row col-md-6" style="font-size:16px;">
                  
                  <p  class="imp text-center custom_center_box_title"> {{teamName}}</p>
                  <p class="text-center"><span class="glyphicon glyphicon-user "></span>&nbsp;{{leaderName}}<br><br></p>
                  <p >{{teamDescription}}</p>
                  <br>
                  <div style="vertical-align: middle;"class="event_info_box col-md-3 text-center"> <strong>Team Size: </strong><div style="font-size:30px;padding:30px;" >{{param.minTeamSize}}-{{param.maxTeamSize}}</div></div>
                  <div class="col-md-1"></div>
                  <div class="event_info_box col-md-3 text-center"><strong>Deadline: </strong><div style="font-size:30px;padding:15px;" >{{ deadline | date:'dd' }}&nbsp;{{ deadline | date:'MMM' }}<br>{{ deadline | date:'yyyy' }}</div></div>
                  <div class="col-md-1"></div>
                  <div class="event_info_box col-md-3 text-center"><strong>Days Left: </strong><span ng-hide="(deadline-today)<0"><div style="font-size:30px;padding:30px;" >{{(deadline - today)/(1000*60*60*24) | number:0}}</div></span></div>
                  <div class="text-center"><span  ng-show="(deadline-today)<0"><strong><font color="red">Passed the deadline!</font><strong></span></div>   
          </div>      
      </div>
      <!--join event: You will be on the waiting list of member. If cannot join a team before deadline, admin will assign you to a team according your preference.-->
      <button id="btn_join" type="button" class="btn btn-primary" ng-click="createTeam())">Join(for smart generator, not done)</button>

      
              <div class="row">
                  <div class="col-md-3 col-xs-2"></div>
                  <div class="custom_center_box row col-md-6">
                          <form name="teamForm" class="css-form "  novalidate>
                          <div class="form-group">
                              <label>Team Name*:</label>
                              <div class="col-md-12"><input class="form-control ng-dirty ng-invalid ng-valid" type="text" name="userName" placeholder="Please enter team name:" ng-model="teamName" required>
                              <br>
                              </div>
                              
                          </div>
                        
                          <div class="form-group">
                            <br>
                              <label>Team Description:</label>
                              <div class="col-md-12"> <textarea class="form-control ng-dirty ng-invalid ng-valid"  type="textarea" placeholder="Please enter team Description:" ng-model="teamDescription"required></textarea>
                              <br>
                              </div>
                          </div>
                          
                          <div class="form-group">
                            <br>
                              <label>Preferred Team Size:</label>
                              <span class="badge">{{preferredTeamSize}}</span>
                              <br>
                              
                          </div>

                          <div class="form-group">
                            <br>
                            <label>Lauguage Preference:</label>
                            <div class= "row">
                                <span class="col-md-3">
                                </span>
                                <span class="col-md-6"> <input class="form-control" type="text" ng-model='addpreference'></input>
                                <ol>
                                    <li ng-repeat='pre in preference'>{{pre}}<a ng-click="removePre(pre)"> Remove</a></li>
                                </ol>
                                </span>
                                <span class="col-md-3"><button type="button" class="btn btn-primary" ng-click="addPre()">Add</button>
                                </span>
                            </div>
                          </div>
                      
                      </form>
                  </div>
                      
                  <div class="col-md-2 col-xs-2"></div>

              </div>
              
        
    <br><hr>
    <h2>Invite List</h2>
    <div>
        <table id="inviteList" class="table table-hover">
            <thead>
              <tr>
                <th>Team Name</th>
                <th>Team Leader</th>
                <th>Team members</th>
                <th>Preference</th>
                <th>Action(not done)</th>
              </tr>
            </thead>
            <!--<tbody ng-repeat="iT in inviteTeams">-->
            <tbody ng-repeat="(teamid, iT) in inviteTeams">
              <tr>
                <td>{{iT.teamName}}</td>
                <td>{{iT.teamLeaderName}}</td>
                <td>
                  <span ng-repeat="member in iT.members">
                    <a href="profile.html?q={{member.memberID}}">{{member.memberName}}</a>{{$last ? '' : ', '}}
                  </span>
                </td>
                <td>{{iT.preference}}</td>
                <td>
                  <button id="btn_acceptInvite" ng-click="acceptInvite(teamid)">Accept</button>
                  <button id="btn_rejectInvite" ng-click="rejectInvite(teamid)">Reject</button>
                </td>
              </tr>
            </tbody>
        </table>
    </div>

        <!--teams & member list-->
        <div class="row">
            <div class="col-md-6 col-xs-6 text-right" >
              <h3>Leader:</h3>
              <!--<div ng-include="'teamList.html'" id="teamList"></div>-->
              <table id="teamsList" class="table table-hover">
                    <thead>
                      <tr>
                        <th>Team Leader</th>
                      </tr>
                    </thead>
                    <tbody ng-repeat="t in teams" ng-init="getUserNameInTeam(t)">
                      <tr>
                        <td>{{t.teamLeaderName}}</td>
                        <td>
                          <span ng-repeat="member in t.members">
                            <a href="profile.html?q={{member.memberID}}">{{member.memberName}}</a>{{$last ? '' : ', '}}
                          </span>
                        </td>
                     </tr>
                    </tbody>
                </table>
            </div>
			 
			      <div class="col-md-6 col-xs-6 text-left">
                <h3>All members:</h3>
                <ul ng-repeat="m in member">
                  <li>ID = {{m.$id}} <br> 
                  Name = {{m.name}} <br>
                  request to join the following teams: {{m.selection | json}}</li>
                </ul>
            </div>
          </div>
          <!--end of teams & member list-->
      </div>
   </div>
   


   <!-- JavaScript of this page -->

   <!-- Angular and Angular-route libraries (v1.5.7) -->
   <script src="lib/angular.min.js"></script>
   <script src="lib/angular-route.min.js"></script>        
     
   <!-- Firebase (v3.0.3) and AngularFire (v2.0.0) (after angular library is loaded) -->
   <script src="lib/firebase.js"></script>     
   <script src="lib/angularfire.min.js"></script>

   <script src="js/event.js"></script>

   </body>
</html>

