<!DOCTYPE html>
<html lang="en" ng-app="teamform-team-app">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="keywords" content="teamform, team">
      <!-- The meta tags *must* come first in the head; any other head content must come *after* these tags -->
      <title>teamform - Team page</title>
	  
      <!-- libraries and CSS 	  
		JQuery: Necessary for some bootstrap interactions (v1.12.4 is used)		
		Bootstrap: Library and CSS for bootstrap framework (v3.3.7 is used)
		Font-awesome: More icons for the web development (v4.6.3 is used)		
		site.css: A customized css for our web application. Not from any web framework. 
	  -->
	        
      <script src="lib/jquery.min.js"></script>      
      <script src="lib/bootstrap.min.js"></script>      
      	  
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">   
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">     
     <!-- <link rel="stylesheet" href="css/site.css" > -->
     <link rel="stylesheet" href="css/custom.css" >

      <!-- Customized libraries shared by pages -->
      <script src="js/site.js"></script> 
      
	  	  
   </head>
   <body ng-controller="TeamCtrl"> 
   <div id="load_screen"> <div id="loading" class="text-center"> <img src="img/loading.gif">loading ... </div></div>

  <div ng-include="'navbar.html'" id='navbarMenu'></div>
   <br>
    <div>
     <section  style="background-image: url('img/img1_thin.jpg');" class="banner img-responsive" >
          <br><br><br><br><br>
          <h1 class="pull-left banner_title">{{param.eventName}} - {{teamName}}&nbsp;Team Page</h1>
      </section>
    </div>
   <div class="text-center">
      <div id="team_page_controller" >
      <!--<h1>Team Page</h1>-->
            <div id="event_description_div" class="row">
              <div ng-include="'description.html'"></div>
            </div>
        <!--<div class="container">-->
          
            <!--<div class="col-md-3"></div>-->
            <!--<div class="text-center custom_center_box" style="font-size:16px;">       
               <div class="row">
                  <p class="imp text-center custom_center_box_title"> {{teamName}}</p>
                  <p >{{teamDescription}}</p>
                  <br>
               </div>
               <div class="row">
                 <div class="col-md-3"></div>
                  <div class="col-md-3">
                    <div style="margin: auto;" class="event_info_box text-center"> <strong>Preferred Team Size: </strong><div style="font-size:30px;padding:30px;" >{{preferredTeamSize}}</div></div>
                  </div>
                  <div class="col-md-3">
                    <div style="margin: auto;" class="event_info_box text-center"><strong>Current Team Size: </strong><div style="font-size:30px;padding:30px;" >{{currentTeamSize}}</div></div>
                  </div>
               </div>
             </div>-->
             <!--<div class="col-md-3">
             </div>-->
             
           <!--</div>
           <div class="container">
              <div class="row custom_center_box">
                      <h3><strong>Team Leader:</strong></h3>
                      <br>
                        <ul>
                          <li class="col-md-6">
                          <strong>Team Leader ID:</strong><br> {{teamLeader.$value}}  <br>
                          </li>
                          <li class="col-md-6">
                          <strong>Leader Name:</strong><br> {{teamLeader.name}}  <br>
                          </li>
                        </ul>
              </div>
           </div>-->
           <!--<div class="container">
                
                  <h3><strong>Currrent Team Member:</strong></h3>
                    <ul ng-repeat="oneMember in members" class="custom_center_box">
                      <li class="col-md-4">
                      <strong>member ID:</strong><br> {{oneMember.memberID}}  <br>
                      </li>
                      <li class="col-md-4">
                      <strong>member name:</strong><br> {{oneMember.name}}  <br>
                      </li>
                      <li class="col-md-4">
                     <strong> member description:</strong><br> {{oneMember.description}}  <br>
                      </li>
                    </ul>
                  
           </div>-->
       <div class="col-md-12">
           <div class="col-md-3"></div>
            <div class="col-md-6">
              <h2>{{teamName}}</h2>
              <p style="font-size:20px;">{{teamDescription}}</p>
              <p style="font-size:16px;">Preferred Team Size: {{preferredTeamSize}}</p>
               <p style="font-size:16px;">Current Team Size: {{currentTeamSize}}</p>
            </div>
           <div class="col-md-3"></div>
       </div>
       <div class="col-md-12">
          <center>
            <h3>Team Leader</h3>
          </center>
          <!--<div ng-include="'teamList.html'" id="teamList"></div>-->
          <div class="col-md-3"></div>
          <div class="col-md-6" >
            <table class="table table-hover text-center" style="font-size:16px;">
              <thead>
                <tr class="text-center">
                  <th class="text-center">Name</th>
                  <th class="text-center">Description</th>
                </tr>
              </thead>
              <tbody >
                <tr>
                  <td class="text-center"><a href="profile.html?q={{teamLeader.$value}}">{{teamLeader.name}}</a></td>
                  <td class="text-center"></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-md-3"></div>
        </div>

       <div class="col-md-12">
          <center>
            <h3>Team Members</h3>
          </center>
          <!--<div ng-include="'teamList.html'" id="teamList"></div>-->
          <div class="col-md-3"></div>
          <div class="col-md-6" >
            <table class="table table-hover text-center" style="font-size:16px;">
              <thead>
                <tr class="text-center">
                  <th class="text-center">Name</th>
                  <th class="text-center">Description</th>
                </tr>
              </thead>
              <tbody >
                <tr ng-repeat="oneMember in members">
                  <td><a href="profile.html?q={{oneMember.memberID}}">{{oneMember.name}}</a></td>
                  <td>{{oneMember.description}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-md-3"></div>
        </div>
        <div class="col-md-12"><br></div>
           <tr>
           <td><button id="btnJoinTeam" type="button" class="btn btn-danger" ng-click="joinTeam('')">Join Directly</button></td> <!--this will remove after we finish request to join team properly-->
           <td><button id="btnRequestJoinTeam" type="button" class="btn btn-primary" ng-click="requestJoinTeam('')">Request to join</button></td>
           </tr>
    </div>           
  </div>
  <div class="container">
    <!-- FOOTER -->
    <hr>
    <footer>
      <p class="pull-right"><a style="cursor: pointer" ng-click="scrollToTop()">Back to top</a></p>
      <p class="text-left">&copy; 2016 &nbsp;<i>418 I'm a Teapot </i></p>
      <p class="text-left">Powered by <a href="http://getbootstrap.com/" target="_blank">Bootstrap</a></p>
    </footer>
  </div>


   <!-- JavaScript of this page -->

   <!-- Angular and Angular-route libraries (v1.5.7) -->
   <script src="lib/angular.min.js"></script>
   <script src="lib/angular-route.min.js"></script>        
     
   <!-- Firebase (v3.0.3) and AngularFire (v2.0.0) (after angular library is loaded) -->
   <script src="lib/firebase.js"></script>     
   <script src="lib/angularfire.min.js"></script>


   <script src="js/team.js"></script>

   </body>
</html>

